<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book Form</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="container">
      <h1>New Book</h1>
      <form class="" action="/book/add" method="post">
        <div class="form-group">
          <label for="title">Title:</label>
          <input class="form-control" type="text" name="title" placeholder="title"><br>
        </div>
        <div class="form-group">
          <label for="authors">Author:</label>
          <input class="form-control"type="text" name="authors" placeholder="author name"><br>
        </div>
        <button class="btn btn-primary" type="submit">Save Book</button>
      </form>
    </div>

  </body>
</html>
