<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book Form</title>
  </head>
  <body>
    <h1>Book Form</h1>

    <form class="" action="/book/add" method="post">
      <label for="title">Title:</label>
      <input type="text" name="title" placeholder="title"><br>
      <label for="authors">Author:</label>
      <input type="text" name="authors" placeholder="author name"><br>
      <button type="submit">Save Book</button>
    </form>
  </body>
</html>
